@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Nunito";
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE */
}

.h-[35%] {
  display: block; /* Ensure this is not hidden */
}
